body{
    margin: 0px;
}

p{
    padding: 5px;
    margin: 5px;
}

input{
    margin: 0px 10px 0px 10px;
}

img{
    height: 75px;
    margin-top: 20px;
    padding: 5px;
}

.grid-main{
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
}

.set{
    background-color: rgb(39, 39, 81);
    color: white;
    display: grid;
    grid-row: 1;
    padding: 10px;
}

.head{
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
}

.mid{
    grid-row: 10;
}

.foot{
    grid-row: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item2{
    grid-row: 2 / span 8;
    padding: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 151, 47);
    color: white;
}

.item3{
    grid-row: 11 / span 8;
}